.events-page {
  position: relative;
  background-color: white; 
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.events-grid {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff; 
}

.events-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.events-header {
  background-color: #f4f4f4;
  font-weight: bold;
}

.event-column {
  flex: 1;
  text-align: center;
  transition: background-color 0.3s ease;
}

.event-column:first-child {
  flex: 2; 
}

.events-row:last-child {
  border-bottom: none; 
}

.event-column:hover {
  background-color: #f0f0f0; 
  cursor: pointer; 
}

.back-arrow {
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}

.arrow-icon {
  width: 2rem;
  height: 2rem;
}


.admin-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.admin-buttons button {
  background-color: #f6921d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.admin-buttons button:hover {
  background-color: #e57b00;
}