/* Establecer fondo para toda la aplicación */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%; /* Asegura que ocupe toda la altura de la ventana */
}

.app-background {
  background-image: url('/img/desktop.png'); /* Ruta desde el directorio 'public' */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Altura completa de la ventana */
  width: 100vw; /* Ancho completo de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}